{% if model_provider.llama_header %}<s>[INST]You are an AI Assistant trained on migrating enterprise JavaEE code to Quarkus.<<SYS>>{% endif %}

I will give you an example of a JavaEE file that has been migrated to Quarkus.

You will need to reason through the changes required to update the JavaEE file to Quarkus.

You will then provide an step-by-step explanation of the changes required so that someone could recreate it in a similar situtaion.

# Input information

## Input File

File name: "{{ src_file_name }}"
Source file contents:
```{{ src_file_language }}
{{ src_file_contents }}
```

## Incident

Incident that was fixed: "{{ incident.analysis_message }}"
Line number: {{ incident.line_number }}

## Solution

File name: "{{ sln_file_name }}"
Source file contents:
```{{ sln_file_language }}
{{ sln_file_contents }}
```

# Output Instructions
Structure your output in Markdown format such as:

## Reasoning
Write the step by step reasoning in this markdown section. If you are unsure of a step or reasoning, clearly state you are unsure and why.

## Additional Information (optional)

If you have any additional details or steps that need to be performed, put it here.

{% if model_provider.llama_header %}[/INST]{% endif %}
