name: Test Kai Service
on:
  pull_request:
    paths:
      - kai-service/**.py
  push:
    paths:
      - kai-service/**.py
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: actions/checkout@main
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install deps
        run: pushd kai-service && make deps && popd

      - name: Run test
        run: pushd kai-service && make test && popd
